@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.dark {
  background-color: #03001c !important;
  color: #657481 !important;
}

.light {
  background-color: #fafdff !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  .wrap {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .top {
      margin: 50px;

      .profile {
        display: flex;
        align-items: center;
        flex-direction: column;

        .light {
          border: 5px solid #03001c;
        }

        .dark {
          border: 5px solid #42a5f5;
        }

        .foto {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;

          .img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
          }
        }

        .name {
          font-size: 24px;
          font-weight: 800;
          margin-top: 20px;
          font-family: "Poppins", sans-serif;
        }

        .info {
          font-family: "Poppins", sans-serif;
          margin-bottom: 30px;
          font-weight: 700;
          color: #657481;
          font-size: 13px;
        }

        .icon {
          display: flex;
          gap: 20px;
          margin-bottom: 30px;

          .icons {
            font-size: 20px;
          }

          .dark {
            color: #fafdff !important;
            border: none !important;
          }

          .light {
            color: #22272b !important;
            border: none !important;
          }
        }

        .description {
          width: 500px;
          height: 100px;
          display: flex;
          justify-content: center;
          gap: 50px;
          align-items: center;

          .decs-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80px;
            text-align: center;
            gap: 10px;

            .text {
              color: #657481;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              font-size: 14px;
            }
          }
        }

        .btn {
          width: 500px;
          height: 100px;
          display: flex;
          justify-content: center;
          gap: 30px;
          align-items: center;

          .portfolio {
            width: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
            background-color: #42a5f5;
            color: #fff;
            padding: 1.15rem 2rem;
            border-radius: 0.5rem;
            transition: 0.35s;
            box-shadow: 0 3px 10px #42a5f5;
            border: none;
          }

          .btn_small {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: max-content;
            padding: 15px;
            gap: 10px;

            .wa {
              width: 45px;
              height: 45px;
              background-color: #e9ebec;
              color: #000000;
              font-size: 20px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .tele {
              width: 45px;
              height: 45px;
              background-color: #e9ebec;
              color: #000000;
              font-size: 20px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
